<div >
  <form action="{{ path('sdz_post') }}" class="form-horizontal" method="post"}}>
    <fieldset>
      <div class="form-group">
        <div class="col-lg-10">
          <textarea rows="3" cols="80" class="textPublish" name="textaenvoyer" placeholder="Write your message"></textarea>
        </div>
      </div>
  	</br>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
  <hr>
  {% for item in publication %}
      <div class="well">
        <p id="publication_msg">
          {{ item.texte}}
        </p>
        <small>
          écrit le {{ item.date|date('d/m/Y') }} à {{ item.date|date('H:m:s') }}
        </small>
      </div>
  {% endfor %}
</div>
