<div class="well">
	<h3> MENU </h3>
	<ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
	  <li><a href="/ads">Wall</a></li>
	  <li><a href="/photos">My photos</a></li>
	  <li><a href="/animals">My animals</a></li>
	  <li><a href="/forum">Forum</a></li>
	  <li><a href="/ads">Small ads</a></li>
	</ul>
	
	<h3> PHOTOS </h3>
	
	<img src="{{ asset('img/fla.jpg') }}" alt="test"> 
</div>